body {
    margin: 0;
}

h1 {
    text-align: center;
    background-color: steelblue;
    color: #fff;
    margin: 0;
    padding: 2em;
}

.quadrados {
    width: 30%;
    background-color: steelblue;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    max-width: 30%;
    margin: 1em auto;
}

#p1Display, #p2Display {
    padding: 1em;
}

.winner {
    color: green;
}

h2 {
    text-align: center;
}

.centralizar {
    margin: 0 auto;
    text-align: center;
}

.centralizar p {
    margin-bottom:0;
}

input {
    margin-bottom: 1em;
}

@media (max-width: 900px){
    #container {
        max-width: 70%;
    }
}
